<div class="container">
  <div class="card ">
  <div class="card-header bg-primary">Tiles</div>
  <div class="card-body o">
    <div>
        <select [(ngModel)]="selectedFilter" id="selectBox" name="filterBox">
            <option *ngFor="let filter of filterOptions" value="{{filter}}"
>{{filter}}</option>
          </select>

          <input type="text" [(ngModel)]="filterText" name="filterText" id="fiterText" />

          <button class="btn btn-primary" (click)="filter()">Go</button>
    </div>
    <table class="table" *ngIf="tiles && tiles.length>1" >
      <thead>
      <tr>
      <th>Image</th>
      <th> name</th>
      <th> model</th>
      <th> price</th>
      <th>Stock</th>
      <th>Rating</th>
      </tr>
      </thead>
      <tr *ngFor="let tile of filteredTiles" app-tile [tile]="tile">

      
      </tr>
      </table>
  </div>
  <div class="card-footer bg-primary"></div>
</div>
</div> 
